*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner{
    margin: 5px;
    text-align: center;
    background-image: url("banner.jpg");
    padding: 10px;
    color: yellow;
    text-transform: capitalize;
    font-weight: 900;
}

#main{
    font-size: 30px;
    font-weight: bold;
    margin: 1cm;
}

#home{
    margin: 5px;
    color: slateblue;
}

.home{
    text-decoration: none;
    color: inherit;
}

img.food{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20%;
}
.ing{
    font-size: 20px;
    margin: 20px;
}
h2{
    text-decoration: underline;
}
a.homebutton{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.steps{
    font-size: 20px;
    margin: 20px;
}
li{
    margin: 5px;
}
